.boton_redondo{
    border-radius: 50%;
    background-color: rgb(240, 212, 179);
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s, transform 0.03s;
        }
        .boton_redondo:hover{
            background-color: aliceblue;
            transform: translate3d( −3px);

        }


        .contacto{
            border-radius: 50%;
            padding: 10px 20px;
            position: fixed;
            bottom: 90px;
            right: 10px;
            transition: background-color 0.3s, transform 0.03s;
        }
        .boton_redondo:hover{
            background-color: aliceblue;
            transform: translate3d( −3px);

        }

body {
    background-color: rgb(130, 8, 8);
}


